NODE_ENV=development
PORT=3001

CORS_ORIGIN=*

JOB_SCHEDULER_DB_URL=postgresql://classifications_user:classifications_password@localhost:5432/job_scheduler_db
DATABASE_SYNC=false
DATABASE_LOGGING=false
DATABASE_SSL=false
